{% extends "base.html" %}

{% block main %}

<div class="card">
    <div class="card-header mt-2">
        <h4 clas="mt-3">Resumo</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Total de dias alugados: {{statistics.totalDaysRented}} dias</li>
            <li class="list-group-item">Total de Kilometros viajados: {{statistics.totalKmTraveled}} km</li>
            <li class="list-group-item">Total de valores pagos por Kilometros: R$ {{statistics.totalKmTraveledValue}}</li>
            <li class="list-group-item">Total do valor pago em diárias: R$ {{statistics.totalDaysValue}}</li>
            <li class="list-group-item">Total das locações: R$ {{statistics.totalLocationValue}}</li>
        </ul>
    <div>
</div>

{% endblock %}